/include/ "system-conf.dtsi"
/ {
	model = "Enclustra ME-XU5-5EV-2I-D12E SOM";

	dma_proxy {  
		compatible ="xlnx,dma_proxy";
		dmas = <&axi_dma_0 0  &axi_dma_0 1>;
		dma-names = "dma_proxy_tx", "dma_proxy_rx";
		dma-coherent;
	} ;
};
#include "zynqmp_enclustra_common.dtsi"
#include "zynqmp_enclustra_mercury_xu5.dtsi"
#include "zynqmp_enclustra_mercury_st1.dtsi"
